{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "decorators": true,
        "dynamicImport": true
      },
      "target": "es2020",
      "paths": {
        "@protocols/*": ["./src/protocols/*"],
        "@MyTypes/*":["./src/types/*"]

      },
      "baseUrl": "/"
    },
    "module": {
      "type": "commonjs"
    }
  }